@model Cabinet
@{
    ViewData["Title"] = "Изменение кабинета";
}

<form asp-action="Edit">
    <div class="container border p-3">
        <h1 class="text-primary">Изменение кабинета</h1>

        <hr />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger" />

            <div class="col-2">
                <label asp-for="Number" class="pt-2" style="font-size: 20px;">Номер</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Number" disabled class="form-control" />
                <span asp-validation-for="Number" class="text-danger" />
            </div>
            <div class="col-2">
                <label asp-for="Number" class="pt-2" style="font-size: 20px;" />
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger" />
            </div>

            <div class="col-2">
                <label asp-for="LocationId" class="pt-2" style="font-size: 20px;">Отдел</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="LocationId" asp-items="(SelectList)@ViewData["Locations"]!" disabled class="form-control">
                    <option value="" />
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>
            <div class="col-2">
                <label asp-for="LocationId" class="pt-2" style="font-size: 20px;" />
            </div>
            <div class="col-10 pb-3">
                <select asp-for="LocationId" asp-items="(SelectList)@ViewData["Locations"]!" class="form-control">
                    <option value="" />
                </select>
                <span asp-validation-for="LocationId" class="text-danger" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="Index" class="btn-primary btn form-control">Вернуться к списку</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Обновить" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
