@{
    ViewData["Title"] = "Главная страница";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <a asp-area="" asp-controller="Ticket" asp-action="Index">Перейти к списку заявок</a>
        <a asp-area="" asp-controller="Ticket" asp-action="Create">Создать заявку</a>
    </div>
</div>
